## .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.suo
*.cache
[Dd]ebug/
[Rr]elease/

## Rider
.idea/

## VS Code
.vscode/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/

## Logs
*.log
logs/
